/* Paleta de colores */
:root {
    --color-background: #F6F4F4;
    --color-text-accent1: #CBC9C5;
    --color-text-accent2: #3C3634;
    --color-accent1: #AE9075;
    --color-accent2: #624835;
}

/* Estilos generales */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text-accent2);
    display: flex; /* Nuevo */
    flex-direction: column; /* Nuevo */
    min-height: 100vh; /* Nuevo */
}

/* Estilos del Navbar */
.navbar {
    background-color: var(--color-accent2);
    padding: 15px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex; /* Nuevo */
    justify-content: space-between; /* Nuevo */
    align-items: center; /* Nuevo */
}

.navbar-brand{
    font-family: 'Pacifico', cursive;
    color: var(--color-text-accent1);
    padding-left: 30px;
}

.navbar-toggler-icon {
    background-color: var(--color-text-accent1);
}

.navbar-nav {
    margin-right: 20px;
    display: flex; /* Nuevo */
    flex-direction: row; /* Nuevo */
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    color: var(--color-text-accent1);
    font-weight: bold;
    font-size: 1.5em;
    transition: color 0.3s ease;
    text-decoration: none; /* Nuevo */
}

.nav-link:hover {
    color: #3498db;
}   


/* Estilos para los botones de idioma */

.language-buttons {
    display: flex; /* Nuevo */
}

.translate {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    height: 40px;
    width: 40px;
}

.translate:hover {
    transform: scale(1.2);
}

/* Estilos para las secciones */
section {
    background-color: var(--color-background);
    text-align: center;
    flex: 1; /* Nuevo */
}


/* Estilos para la Foto */

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 1.6em;
}

header {
    background-color: var(--color-background);
    z-index: 4;
    display: flex; /* Nuevo */
    justify-content: center; /* Nuevo */
}

#milogo {
    text-align: center;
    background: var(--color-background);
    align-items: center;
    justify-content: center;
    display: flex; /* Nuevo */
    flex-direction: column; /* Nuevo */
}

.box {
    text-align: center;
    justify-content: center;
    display: flex; /* Nuevo */
    flex-direction: column; /* Nuevo */
    margin: 20px 0 0 0;
    position: relative;
    width: 500px;
    height: 500px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, var(--color-text-accent2), var(--color-background));
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.box:hover::before {
    inset: -20px 0px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box::after {
    content: '';
    position: absolute;
    inset: 6px;
    background: var(--color-background);
    border-radius: 50%;
    z-index: 1;
}

.content {
    position: absolute;
    inset: 30px;
    border: 6px solid #070a1c;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}

.box:hover .content img {
    opacity: 0;
}

/* Estilos para el Timeline */


.main {
    width: 100%;
    height: auto;
    display: flex; 
    flex-direction: column; 
    place-items: center;
    background-color: var(--color-background);
    padding: 50px 0;
	text-decoration: none;
}
.main .head {
	text-decoration: none;
    color: var(--color-accent1);
    position: relative;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 4em;
    margin-top: 20px;
}

.main .head::after {
    content: " ";
    position: absolute;
    width: 80%;
    height: 3px;
    left: 50%;
    bottom: -5px;
	text-decoration: none;
    transform: translateX(-50%);
    background-image: linear-gradient(to right, var(--color-accent1), var(--color-accent2));
}


/* Container Css Start  */

.container {
    height: auto;
    margin: auto 0;
    position: relative;
    display: flex; /* Nuevo */
    flex-direction: column; /* Nuevo */
    
}


.container ul {
    list-style: none;
}

.container ul::after {
    content: " ";
    position: absolute;
    width: 2px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-image: linear-gradient(to bottom, var(--color-accent1), var(--color-accent2));
}

.container ul li {
    width: 50%;
    height: auto;
    padding: 60px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.218);
    position: relative;
    margin-bottom: 30px;
    z-index: 99;
}

.container ul li:nth-child(4) {
    margin-bottom: 0;
}

.container ul li .circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-accent1);
    top: 0;
    display: grid;
    place-items: center;
}

.circle::after {
    content: ' ';
    width: 12px;
    height: 12px;
    background-color: var(--color-accent2);
    border-radius: 50%;
}

ul li:nth-child(odd) .circle {
    transform: translate(50%, -50%);
    right: -30px;
}

ul li:nth-child(even) .circle {
    transform: translate(-50%, -50%);
    left: -30px;
}

ul li .date {
    position: absolute;
    width: 200px;
    height: 40px;
    background-image: linear-gradient(to right, var(--color-accent2), var(--color-accent1));
    border-radius: 15px;
    top: -50px;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 1rem;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
}




.container ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-80px);
}

ul li:nth-child(odd) .date {
    right: 20px;
}

.container ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
}
.heading{
    color:var(--color-accent1);
    text-decoration: none;
 }
ul li .heading {
    font-size: 2rem;
    color: var(--color-accent1);
}

ul li p {
    font-size: 1.5rem;
    color: #666;
    line-height: 2rem;
    margin: 6px 0 4px 0;
}

ul li a  {
    font-size: 16px;
    text-decoration: none;
    color: var(--color-accent2);
    transition: all 0.3s ease;
}

/* Iconos de redes sociales */

.buttons a {
    margin: 10px;
    text-decoration: none;
    font-size: 38px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background: var(--color-accent2);
    color: var(--color-background);
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}


.card {
    border: 1px solid var(--color-text-accent1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    padding: 20px;
    margin: 10px;
    overflow: hidden; /* Evitar que el contenido sobresalga */
    height:auto;

    transition: transform 400ms, box-shadow 400ms;
}

.card#card_proyectos {
    
    height:700px;
}

.card:hover {
    transform: scale(1.05);
}

.card-image img {
    width: 100%;
    /*height: 100%;*/
    height:300px;
}

.card-details {
    padding: 15px;
    height: 40%;
}

.card-details h2 {
    margin-top: 0;
    color: var(--color-text-accent2);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: var(--color-background);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .overlay {
    opacity: 1;
}

/* Copiado del botón del correo */

.email-container {
    display: flex;
    align-items: center;
    background-color: var(--color-text-accent1);
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    width: 70%;
    margin: auto; /* Centra el contenedor horizontalmente */
    @media (max-width: 768px) {
        width: 100%; /* Cambia el ancho a 80% para pantallas más pequeñas */
    }
}

.email {
    flex: 1;
    border: none;
    padding: 8px;
    font-size: 1.5rem; 
}

.copy-btn {
    cursor: pointer;
    padding: 8px;
    background-color: var(--color-accent1);
    color: var(--color-background);
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.copy-success {
    margin-left: 10px;
    color: var(--color-accent1);
    font-size: 14px;
    display: none;
}

.custom-size {
    width: 100px;
    height: 100px;
}

/* Estilos generales del modal */
.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: var(--color-accent1);
    color: white;
    border-bottom: 1px solid #dee2e6;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
}

/* Estilos para el botón de cerrar */
.close {
    color: white;
}

/* Estilos adicionales para mejorar la apariencia */
.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-body p {
    line-height: 1.6;
}

/* Estilo para la imagen en el modal */
.modal-body img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para las puntuaciones (íconos) */
.modal-body p::before {
    content: '\2022'; /* Código del carácter del círculo (puedes cambiarlo por otro) */
    color: #28a745; /* Color verde para indicar éxito */
    margin-right: 5px;
    font-size: 1.2em;
}

/* Estilos del carrusel y tarjetas */
#card-carousel {
    margin: auto; /* Centrar el carrusel en la pantalla */
}

/* Estilos de las flechas de navegación */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(265deg) brightness(103%) contrast(101%);
}

.carousel-control-prev,
.carousel-control-next {
    width: 40px;
    height: 100%;
    background-color: transparent; /* Fondo transparente para que no afecte el color de las flechas */
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Alinea la flecha izquierda a la izquierda */
.carousel-control-prev {
    left: 0;
}

/* Alinea la flecha derecha a la derecha */
.carousel-control-next {
    right: 0;
}

/* Estilos del texto de las flechas */
.carousel-control-prev,
.carousel-control-next {
    font-size: 24px;
    color: #7f00ff; /* Color de las flechas */
    text-shadow: none;
}

/* Color del fondo de las flechas al pasar el ratón sobre ellas */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: transparent; /* Fondo transparente al pasar el ratón */
}

.card-img {
    max-width: 10%;
    height: auto;
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.img_size{
    width: 40px; 
    height: 40px
}

/* ¡Pantallas medianas! */
@media (min-width: 993px) and (max-width: 1200px) {

    
    .card#card_proyectos {
        
        height:800px;
    }
    
}



/* ¡Pantallas medianas! */
@media (min-width: 575px) and (max-width: 993px) {
    .container {
        width: 100%;
    }
    .container ul::after {
        left:0px;
        
    }
    .container ul li {
        width: 80%;
        float: none;
        clear: none;
        margin-bottom: 80px;

    }
    .container ul li .circle {
        left: -40px;
        transform: translate(-50%, -50%);
        float: left;

        
    }
  
    .container ul li:nth-child(odd) {
        transform: translateX(0px);
        text-align: left;
     
    }
    .container ul li:nth-child(even) {
        transform: translateX(0px);
        float: left;
        text-align: left;

    }
    ul li:nth-child(odd) .date {
        left: 30px;
    }
    .main .head {
        font-size: em;
    }
    .box {
        width: 350px;
        height: 350px;
    }
   


    
    ul li p {
        font-size: 1.2rem;
        line-height: 1.4rem;

    }
    
    .container ul li {
        padding: 15px 20px;
   
    }
 
    
    ul li .heading {
        font-size: 1.4rem;

        
    }
    ul li .date {
        width: 130px;
        height: 33px;
        top: -45px;
        font-size: 13px;
    }
    .language-buttons {
        display: block;
    }
    
    .card#card_proyectos {
        
        height:700px;
    }
 
    
}

/* ¡Pantallas medianas! */


/* Pantallas pequeñas */
@media (max-width: 575px) {
    
    .container {
        width: 100%;
    }
    .container ul::after {
        left:0px;
        
    }
    .container ul li {
        width: 80%;
        float: none;
        clear: none;
        margin-bottom: 80px;

    }
    .container ul li .circle {
        left: -40px;
        transform: translate(-50%, -50%);
        float: left;

        
    }
  
    .container ul li:nth-child(odd) {
        transform: translateX(0px);
        text-align: left;
     
    }
    .container ul li:nth-child(even) {
        transform: translateX(0px);
        float: left;
        text-align: left;

    }
    ul li:nth-child(odd) .date {
        left: 30px;
    }
    .main .head {
        font-size: 3em;
    }
    .box {
        width: 325px;
        height: 325px;
    }
    .navbar-nav {
        display: none;
        /* Oculta la navegación normal */
        flex-direction: column;
        /* Muestra los elementos en una columna */
        align-items: center;
    }

    .navbar-toggler {
        display: block;
        /* Muestra el botón de hamburguesa */
        background: none;
        border: none;
        cursor: pointer;
    }

    .navbar-toggler-icon {
        background-color: var(--color-text-accent1);
        height: 3px;
        width: 30px;
        display: block;
        margin: 5px 0;
    }

    /* Mostrar la navegación cuando se hace clic en el botón de hamburguesa */
    .navbar-toggler:checked + .navbar-nav {
        display: flex;
    }
    .card {
        font-size: 1rem;
    }
    
    .email {
        font-size: 0.8rem; 
    }
    /* Iconos de redes sociales */

    .buttons a {
      
        font-size: 20px;
        width: 42px;
        height: 42px;
        line-height: 42px;
  
    }
    ul li p {
        font-size: 1rem;
        line-height: 1.4rem;

    }
    
    .container ul li {
        padding: 15px 20px;
   
    }
 
    
    ul li .heading {
        font-size: 1rem;

        
    }
    ul li .date {
        width: 130px;
        height: 33px;
        top: -45px;
        font-size: 13px;
    }
    
  
    .card#card_proyectos {
        
        height:550px;
    }
    .language-buttons {
        display: block;
    }
    
  
}