body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    background:#162052;
  }
  
  header{
    display: inline-block;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.95);
    z-index: 4;
    padding: 20px 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  }
  
  header .logo{
    margin: 0;
    font-weight: bold;\n  font-size: 2em;
    color: #2ca85b;
  }
  
  header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
  }
  
  header a{
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    color:black;
    transition: all 0.2s ease-in-out;
  }
  
  header a:hover{
    color: #2ca85b;
  }
  
  .box{
    text-align: center;
    justify-content: center;
    display: inline-block;
    flex-direction: column;
    margin: 0px auto;
    position: relative;
    width: 400px;
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
  }
  
  .box:hover{
    transform: scale(1.05);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
  }
  
  .box::before{
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, #00ccff,#d400d4 );
    transition: 0.5s;
    animation: animate 4s linear infinite;
  }
  
  .box:hover::before{
    inset: -20px 0px;
  }
  
  .box::after{
    content: '';
    position: absolute
  